<div class="flex flex-col justify-between lg:py-[2rem] gap-10">
    <p class="text-lightPurple text-[2rem] sm:text-[2.5rem]">BIOGRAPHY</p>
    <p class="text-[1.3rem] text-lightGrey font-thin leading-6 ">My frontend journey began in 2023, focusing on creating
        visually appealing websites. I love working with typography, color schemes, and layouts to ensure clean,
        user-friendly designs.</p>
    <div class="flex flex-col justify-between gap-5">
        <div class="flex flex-col gap-5">
            <p class="text-lightPurple text-[1rem]">Age: <span class="text-lightGrey text-[1.1rem]">32</span></p>
            <p class="text-lightPurple text-[1rem]">Nationality: <span
                    class="text-lightGrey text-[1.1rem]">Macedonian</span></p>
            <p class="text-lightPurple text-[1.1rem]">Work: <span class="text-lightGreen text-[1.1rem]">Avaliable</span>
            </p>
        </div>
        <div class="flex flex-col gap-5">
            <p class="text-lightPurple text-[1rem]">Phone: <span
                    class="text-lightGrey text-[1.1rem]">0038970371080</span></p>
            <p class="text-lightPurple text-[1rem]">Address: <span class="text-lightGrey text-[1.1rem]">Skopje,North
                    Macedonia</span></p>
            <a href="mailto:miljkovicmonika002&#64;gmail.com" class="text-lightPurple text-[1rem]">Email: <span
                    class="text-lightGrey text-[1.1rem]">miljkovicmonika002&#64;gmail.com</span></a>
        </div>
    </div>
</div>