<div class=" w-full min-h-screen flex flex-col md:flex-row px-[10vw] justify-between items-center md:items-end gap-10 bg-black py-[15vh]">
   
    <div class=" flex flex-col gap-7 lg:gap-10 md:w-[30vw]">
        <div class="flex flex-row gap-2 justify-between">
            <div>
                <img src="./assets/images/monika.png" alt="Pic of me">
            </div>
            <div class="flex flex-col gap-4 md:gap-8 justify-end items-end">
                <div class="flex flex-row gap-2 items-center">
                    <div class="border-lightGreen w-[5px] h-[5px] rounded-full bg-lightGreen"></div>
                    <p class="text-lightGreen text-base lg:text-[1.2rem]">Avaliable for work</p>
                </div>
                <p class="text-[3rem] lg:text-[4rem] text-lightPurple font-thin">ABOUT</p>
            </div>
        </div>
        <div>
            <p class="font-thin text-lightGrey text-[1.1rem] lg:text-[1.5rem] text-justify leading-7">My name is Monika, and I'm a front-end developer passionate about building clean, responsive websites with a focus on user interaction.</p>
        </div>
  </div>
   
    <div class="flex flex-col justify-between gap-10 items-end md:w-[40vw]">
     
        <div class="content order-2 md:order-1">
            <router-outlet></router-outlet>
             </div> 
      
      <div class="w-full md:w-[40vw] flex flex-col md:flex-row justify-between order-1 md:order-2 gap-5 py-10 md:py-0">
        <a *ngFor='let link of links'
           routerLink="{{ link.url }}"
           routerLinkActive="active"
           class="text-[1.2rem] text-primary text-center "
        >
          {{link.name}}
        </a>
      </div>
    </div>
</div>

<div class="relative">
    <div class="absolute bottom-20 border-b-[1px] border-lightPurple w-full"></div>
    <div class="flex flex-row gap-12 absolute bottom-8 right-[10vw]">
        <a href="https://www.linkedin.com/in/monikamiljkovic/"
        class="text-white text-base">linkedin</a>
        <a href="https://github.com/monikamiljkovic"
        class="text-white text-base">github</a>
     </div>
</div>