<div class="bg-black w-full min-h-full flex flex-col justify-between gap-14 md:px-[6vw]">

  <div class="bg-black opacity-[70%] fixed inset-0 z-10" (click)="closeSidenav()" *ngIf="isSideNavOpen"></div>

  <app-navbar (sidenavToggle)="toggleSidenav()"></app-navbar>

  <div class="flex flex-col lg:flex-row justify-between items-center gap-14 px-[2rem]">

    <div class="flex flex-col w-full gap-5">
      <div>
        <div class="flex justify-center items-center">
          <img src="./assets/images/monika.png" alt="Picture of Me">
        </div>

        <div class="flex justify-center items-center py-[1rem] border-b-[1px] border-main">
          <p class="text-grey3 leading-8 font-thin text-center md:text-start"
            style="font-size:clamp(1.2rem,3vw,1.5rem)">
            My name is Monika, and I'm a frontend developer passionate about building clean, responsive websites with a
            focus on user interaction.
          </p>
        </div>
      </div>

      <div class="hidden lg:flex flex-row justify-between items-center">
        <button class="hBl text-primary text-base border-b-[1px] border-b-lightPurple pb-[0.5rem]"
          (click)="onDisplayContact()">Contact Me</button>

        <div class="flex justify-center md:justify-end flex-row gap-10">
          <a href="https://www.linkedin.com/in/monikamiljkovic/" class="hBl text-primary text-base">linkedin</a>
          <a href="https://github.com/monikamiljkovic001?tab=repositories" class="hBl text-primary text-base">github</a>
        </div>

      </div>

    </div>


    <div class="flex flex-col justify-between gap-14 w-full relative">


      <div class="flex flex-col md:flex-row justify-between lg:pl-5 gap-5 w-full">
        <a *ngFor='let link of links' routerLink="{{ link.url }}" routerLinkActive="active"
          class="text-[1.2rem] text-primary text-center hBl">
          {{link.name}}
        </a>
      </div>


      <div class="flex flex-col gap-[3rem] flex-grow lg:border-l-[1px] border-main lg:pl-5 lg:h-[500px]">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>


      <app-about-contact (close)="closeForm()" class="deepness absolute h-full flex justify-center"
        *ngIf="showContactForm"></app-about-contact>
    </div>

  </div>

  <app-footer></app-footer>

</div>

<app-sidenav [isOpen]="isSideNavOpen" (closeSidenav)="closeSidenav()"></app-sidenav>