<div class="w-full flex flex-row justify-between items-center border-b-[1px] border-main px-[2rem] py-6">
   <div class="logo">
      <a routerLink="/">
         <img src="./assets/images/logo.png" alt="Logo MO" class="w-[60%]" />
      </a>
   </div>

   <div class="flex justify-center text-[1.3rem] lg:text-[1.5rem] text-grey3">
      <button class="hBl" (click)="toggleSidenav()" *ngIf="!isSideNavOpen">
         menu
      </button>
      <button class="hGrn" (click)="toggleSidenav()" *ngIf="isSideNavOpen">
         close
      </button>
   </div>
</div>