* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  background: linear-gradient(to bottom, #87cefa, #ffffff);
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("./images/peakpx.jpg");
}


.weatherApp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.weatherDetails,
.leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2em;
  align-items: start;
  padding: 2em;
  margin: 2em;
  box-sizing: border-box;
  color: white;
}

.leftWrapper {
  width: 70%;
  padding: 5em;
}

.temperature {
  font-size: 5.5rem;
  line-height: 1;
  align-self: flex-end;
}

.leftWrapper > div:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: end;
}

.leftWrapper > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  color: white;
  font-size: 1rem;
}

.cityName {
  font-size: 2.5rem;
}

.currentDateTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

img {
  width: 50px;
  height: 50px;
}

.error, .errorFieldEmpty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 20%;
  margin: auto;
  box-shadow: 0 2px 12px 6px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  color: red;
  padding: 1em;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.562);
}

.error.active, .errorFieldEmpty.active {
  transform: translateY(50%);
}


.weatherDetails {
  width: 30%;
  box-shadow: 0 2px 12px 6px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  border-radius:20px;
  background-color: rgba(255, 255, 255, 0.03);
  align-items: start;
  text-align: start;
}

.weatherDetails > div:first-child {
  display: inherit;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.151);
}

.weatherDetails > div {
  width: 100%;
}

.details{
  height: 60%;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}

.details > div:first-child{
  margin-bottom: 2em;
  font-size:1.2rem;
}

.details > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap:2em;
}



.details > div > h3{
  font-weight: 300;
}

.details > div > p{
  font-weight: 400;
}

.inputValue {
  padding: 0.5em;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  transition: 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  appearance: none;
  font-size: 1rem;
  font-weight: 100;
}

.inputValue::placeholder {
  color: #ffffff59;
}

.submit {
  padding: 0.5em;
  font-size: 1rem;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 4px 8px 6px (rgba(225, 225, 225, 0.144));
  transition: 0.3s ease-in-out;
}

.submit:hover {
  color: #ffffff42;
  background-color: #0000002c;
}

.nameCity {
  font-weight: 100;
  font-size: 2rem;
}


@media only screen and (max-width: 1280px) {
  .weatherApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .leftWrapper{
    padding: 0;
    gap:4em;
  }

  .leftWrapper > div:first-child{
    font-size: .7rem;

  }

  .leftWrapper > div:nth-child(2) { 
    gap:.5em;
    align-items: center;
  }

  .currentDateTime{
    display: none;
  }

  .cityName{
    font-size: 1.8rem;
  }

  .temperature{
    font-size: 3rem;
  }

  .leftWrapper > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .leftWrapper > div:nth-child(2) > div {
    align-items: center;
  }

  .weatherDetails{
    width: 80vw;
    height: 100%;
  }

  .inputValue {
    padding: 0;
    font-size:revert;
  }
  
  .submit{
    padding: .5em 0;
    font-size:.8rem;
  }

  .details{
    gap:1em;
  };

  .details > div:first-child{
    margin-bottom: revert;
  }

  .error , .errorFieldEmpty{
    width: 60vw;
  }
}