<div class="flex flex-col justify-end lg:w-[40vw] gap-10">
    <p class="text-lightPurple text-[2.5rem]">EDUCATION</p>
    <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <p class="text-[1.3rem] text-deepBlue">Bachelor's Degree in Graphic Design</p>
                <p class="text-[1.1rem] text-white">FON University Graphic Design and Mulitimedia</p>
            </div>
            <p class="text-lightGrey font-thin text-[1.1rem] text-justify leading-6">Built a strong foundation in graphic design and visual communication, with a focus on illustration. Emphasized creating visually compelling and artistically engaging designs.</p>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-1">
                <p class="text-[1.3rem] text-deepBlue">Diploma in Web Design</p>
                <p class="text-[1.1rem] text-white">Semos Academy</p>
            </div>
            <p class="text-lightGrey font-thin text-[1.1rem] text-justify leading-6">Gained hands-on experience with HTML, CSS, JavaScript, and modern frameworks like Angular. This program solidified my passion for front-end development and enhanced my ability to create dynamic and interactive websites.</p>
        </div>
    </div>
</div>