@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  font-size: clamp(1rem, 2vw, 1.5rem); 
}

/* .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(81, 171, 236, 0.795) !important;
    z-index: 9999 !important; 
  } */
  
  /* Cursor scaling effect on hover */
  /* a:hover ~ .cursor,
  button:hover ~ .cursor {
    transform: scale(2.5);
  } */

p{
  margin: 0!important;
}


::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
