<div class="flex flex-col justify-center gap-10 lg:py-[2rem]">
    <div>
        <p class="text-lightPurple text-[2rem] sm:text-[2.5rem]">EXPERIENCE</p>
    </div>

    <div class="flex flex-col gap-5">
        <div class="flex flex-col">
            <p class="text-deepGreen text-[1.1rem]">Front-End Developer, Vista Group</p>
            <p class="text-lightGrey text-base">Skopje | Jun 2023 - Jun 2024</p>
        </div>
        <div class="flex flex-col">
            <p class="text-deepGreen text-[1.1rem]">Graphic Designer, Falcon Travel Agency</p>
            <p class="text-lightGrey text-base">Skopje | Jan 2017 - Mar 2020</p>
        </div>
        <div class="flex flex-col">
            <p class="text-deepGreen text-[1.1rem]">Graphic Designer, MagnaSken</p>
            <p class="text-lightGrey text-base">Skopje | Aug 2014 - Sep 2015</p>
        </div>
    </div>

    <div class="flex flex-col gap-5">
        <p class="text-lightPurple text-[1.5rem]">TOOLBOX</p>
        <div class="flex flex-col gap-5">
            <p class="text-white text-base">PHOTOSHOP, ILLUSTRATOR</p>
            <p class="text-white text-base">HTML, CSS, JS, ANGULAR, <span class="text-deepGreen">TAILWIND</span>, FIGMA
            </p>
        </div>
    </div>

</div>