<div class="h-full w-full bg-black flex flex-col justify-end pb-10">
    <div class="flex px-[10vw] flex-col gap-5 md:flex-row justify-between md:items-end mb-[4rem]">
           
        <div class="flex justify-center order-1 md:order-2">
            <img src="./assets/images/header.png" alt="Photoshop Image" class="w-[60vw] md:w-[50rem]" >
        </div>

        <div class="content md:w-[100vw] flex flex-col order-2 md:order-1">
            <div class="flex flex-col gap-5 text-lightGrey font-thin ">
                <p class="text-[2.2rem] lg:text-[3.5rem]">I'm</p>
                <p class="font-bold text-[2.2rem] md:text-[2.5rem] lg:text-[4rem] lg:leading-[5rem]">Monika Vrzel</p>
                <div class="border-b-[1px] border-lightPurple w-[40%]"></div>
                <p class="text-[1.3rem] md:text-[1.5rem] leading-6 md:leading-8">Front End Developer <br>who blends <span class="font-medium changeColor" [ngClass]="{'changeColor': isWhite}">creativity</span> with code</p>
                <a href="./assets/images/Monika_Vrzel_-_Front_end_Developer.pdf" download 
                class="downloadCv text-[1rem] bg-[#EFC6FF] border-[1px] border-lightPurple rounded text-black py-3 text-center w-[8rem] md:w-[9rem] font-medium">Download CV</a>
            </div>
        </div>
    
    </div>
 

<div class="flex flex-row gap-12 absolute bottom-10 md:bottom-20 right-[10vw]">
    <a href="https://www.linkedin.com/in/monikamiljkovic/"
    class="text-white text-base">linkedin</a>
    <a href="https://github.com/monikamiljkovic"
    class="text-white text-base">github</a>
 </div>
 </div>