.hover_btn {
  color: #333;
  background-color: transparent;
  border-radius: 1rem;
  overflow: hidden;
  transition: color 0.3s;
}

.hover_btn:hover {
  color: #DDCEFF;
}


.country_rotate {
  position: relative;
  border:1px solid;
  border-radius: 100%;
}

.country_rotate::before,
.country_rotate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.country_rotate::before {
  border-top-color: #bcff02;
  border-right-color: #ff0202;
  animation: border_rotate 2s linear infinite;
}

.country_rotate::after {
  border-bottom-color: #bcff02;
  border-left-color: #ff0202;
  animation: border_rotate 2s linear infinite ;
}

@keyframes border_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


span {
  transition: all 1s ease-in-out; 
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

.animated_text {
  font-size: clamp(1rem, 10vw, 2rem);
  transition: opacity 1s ease-in-out;
}

.shadow_effect{
  color: #bcff02;
  font-size: 3rem;
  font-weight: 100;
  transition:text-shadow 0.3s ease-in-out
}

.list_item{
  flex: 1 1 150px;
}

.touchBtn:hover {
color:#bcff02;
}